<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trial">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trial">
        <activity android:name=".ActivityNonPayers_subevent"></activity>
        <activity android:name=".row_nonpayers_subevent" />
        <activity android:name=".NonPayers_subevent" />
        <activity android:name=".row_add_nonpayer_subevents" />
        <activity android:name=".row_add_payer_subevent" />
        <activity android:name=".PayersInput" />
        <activity android:name=".ConfirmEventProfile" />
        <activity android:name=".EditEventProfile" />
        <activity android:name=".ConfirmRoles" />
        <activity android:name=".NonPayersInput" />
        <activity android:name=".ActivityNonPayers" />
        <activity android:name=".RolesPage" />
        <activity android:name=".EventActivity" />
        <activity android:name=".editprofilepage" />
        <activity android:name=".homepageevents" />
        <activity android:name=".logindeetspage" />
        <activity android:name=".profilepage" />
        <activity android:name=".phonesignin" />
        <activity android:name=".ActivityPayers" />
        <activity android:name=".login" />
        <activity android:name=".googlesignin" />
        <activity android:name=".successfulsign" />
        <activity android:name=".signup" />
        <activity android:name=".signupdeetspage" />
        <activity android:name=".otpconfirm" />
        <activity android:name=".ConfirmRoles_subevent" />
        <activity android:name=".NonPayersInputSubevents" />
        <activity android:name=".PayersInputSubevents" />
        <activity android:name=".rolesSubevent" />
        <activity android:name=".SubEvents" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>