<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SettlePot"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trial">
        <activity android:name=".SubEventsView"/>
        <activity android:name=".PayersInput" />
        <activity android:name=".ConfirmEventProfile" />
        <activity android:name=".RatioSplitmainpage" />
        <activity android:name=".RatioSplitInput"/>
        <activity android:name=".ConfirmRoles" />
        <activity android:name=".NonPayersInput" />
        <activity android:name=".RolesPage" />
        <activity android:name=".EventActivity" />
        <activity android:name=".homepageevents" />
        <activity android:name=".logindeetspage" />
        <activity android:name=".profilepage" />
        <activity android:name=".phonesignin" />
        <activity android:name=".login" />
        <activity android:name=".NotesInput" />
        <activity android:name=".googlesignin" />
        <activity android:name=".successfulsign" />
        <activity android:name=".signup" />
        <activity android:name=".signupdeetspage" />
        <activity android:name=".otpconfirm" />
        <activity android:name=".ConfirmRoles_subevent" />
        <activity android:name=".NonPayersInputSubevents" />
        <activity android:name=".PayersInputSubevents" />
        <activity android:name=".rolesSubevent" />
        <activity android:name=".SubeventActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>